
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>AlphaAdmin</title>
    <link rel="stylesheet" type="text/css" href="../../Content/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="../../Content/libs/datatablejs/dataTables.bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="../../Content/css/bootstrap-table.min.css">
    <link rel="stylesheet" type="text/css" href="../../Content/css/iconfont.css">
    <link rel="stylesheet" type="text/css" href="../../Content/libs/select2/select2.min.css">
    <!-- daterangepicker.css -->
    <link rel="stylesheet" type="text/css" href="../../Content/libs/daterangepicker/daterangepicker.css">
    <!-- bootstrap-datepicker.css -->
    <link rel="stylesheet" type="text/css" href="../../Content/libs/bootstrap-datepicker/bootstrap-datepicker.min.css">
    <link rel="stylesheet" type="text/css" href="../../Content/libs/icheck/skins/all.css">
    <link rel="stylesheet" type="text/css" href="../../Content/css/style.css">

    @RenderSection("cssAdd", required: false)
</head>
<body>
    <div class="skin-default" id="wrapper">
        <header class="navbar-header">
            <div class="brand">
                <a class="navbar-brand" href="/MainPage/Dashbord" title="AlphaAdmin">ALPHA</a>
            </div>
            <div class="navbar">
                <i class="sidebar-toggle iconfont icon-menu" data-toggle="push-menu" role="button">
                </i>
                <div class="navbar-menu pull-right">
                    <ul class="nav navbar-nav">

                        <li class="dropdown user">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#" title="用户">Alpha</a>
                            <ul class="dropdown-menu">
                                <li>
                                    <a data-toggle="modal" data-target=".menu-setpassword" href="#" title="个人信息">
                                        <i class="iconfont icon-menu-user"></i>
                                        修改密码
                                    </a>
                                </li>
                                <li>
                                    <a href="#" title="系统设置">
                                        <i class="iconfont icon-setting"></i>
                                        系统设置
                                    </a>
                                </li>
                                <li class="divider"></li>
                                <li>
                                    <a data-toggle="modal" data-target=".menu-logout" href="#" title="登出">
                                        <i class="iconfont icon-power"></i>
                                        登出
                                    </a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </header>
        <!-- 左侧导航 -->
        <!-- 左侧导航 -->
        <aside class="main-sidebar">
            <div class="user-panel">
                <div class="image pull-left">
                    <img src="../../assets/avatars/avatars.png" alt="">
                </div>
                <div class="info pull-right">
                    <p class="title">Alpha</p>
                    <strong>超级管理员</strong>
                </div>
            </div>
            <section class="sidebar">
                <ul class="sidebar-menu" data-widget="tree">
                    <li>
                        <a href="/DashBoard/Index" title="仪表盘">
                            <i class="iconfont icon-dashborad"></i>
                            <small>仪表盘</small>
                        </a>
                    </li>
                    <li>
                        <a href="/SignDaily/Index" title="每日签到">
                            <i class="iconfont icon-ui"></i>
                            <small>每日签到</small>
                        </a>
                    </li>
                    <li class="treeview">
                        <a href="#">
                            <i class="iconfont icon-table"></i>
                            <small>表格</small>
                            <span class=" pull-right">
                                <i class="iconfont icon-menu-left-small"></i>
                            </span>
                        </a>
                        <ul class="treeview-menu">
                            <li>
                                <a href="../table/table.html">
                                    <i class="iconfont icon-circle-hollow"></i>
                                    <small>简单表格</small>
                                </a>
                            </li>
                            <li>
                                <a href="../table/data.html">
                                    <i class="iconfont icon-circle-hollow"></i>
                                    <small>数据表格</small>
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li class="treeview">
                        <a href="#" title="图表">
                            <i class="iconfont icon-chart"></i>
                            <small>图表</small>
                            <span class=" pull-right">
                                <i class="iconfont icon-menu-left-small"></i>
                            </span>
                        </a>
                        <ul class="treeview-menu">
                            <li class="active">
                                <a href="../chart/chartjs.html">
                                    <i class="iconfont icon-circle-hollow"></i>
                                    <small>Chart.JS</small>
                                </a>
                            </li>
                            <li>
                                <a href="../chart/echartjs.html">
                                    <i class="iconfont icon-circle-hollow"></i>
                                    <small>EChart.JS</small>
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li class="treeview">
                        <a href="#" title="表单">
                            <i class="iconfont icon-form"></i>
                            <small>表单</small>
                            <span class=" pull-right">
                                <i class="iconfont icon-menu-left-small"></i>
                            </span>
                        </a>
                        <ul class="treeview-menu">
                            <li>
                                <a href="../forms/form.html">
                                    <i class="iconfont icon-circle-hollow"></i>
                                    <small>简单表单</small>
                                </a>
                            </li>
                            <li>
                                <a href="../forms/advanced.html">
                                    <i class="iconfont icon-circle-hollow"></i>
                                    <small>高级表单</small>
                                </a>
                            </li>
                            <li>
                                <a href="../forms/editor.html">
                                    <i class="iconfont icon-circle-hollow"></i>
                                    <small>富文本</small>
                                </a>
                            </li>
                        </ul>
                    </li>

                    <li class="treeview">
                        <a href="#">
                            <i class="iconfont icon-folder"></i>
                            <small>页面</small>
                            <span class=" pull-right">
                                <i class="iconfont icon-menu-left-small"></i>
                            </span>
                        </a>
                        <ul class="treeview-menu">
                            <li>
                                <a href="../page/login.html">
                                    <i class="iconfont icon-circle-hollow"></i>
                                    <small>登录页面</small>
                                </a>
                            </li>
                            <li>
                                <a href="../page/register.html">
                                    <i class="iconfont icon-circle-hollow"></i>
                                    <small>注册页面</small>
                                </a>
                            </li>
                            <li>
                                <a href="../page/404.html">
                                    <i class="iconfont icon-circle-hollow"></i>
                                    <small>404页面</small>
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li class="treeview">
                        <a href="#">
                            <i class="iconfont icon-category"></i>
                            <small>多级菜单</small>
                            <span class=" pull-right">
                                <i class="iconfont icon-menu-left-small"></i>
                            </span>
                        </a>
                        <ul class="treeview-menu">
                            <li class="treeview">
                                <a href="#">
                                    <i class="iconfont icon-circle-hollow"></i>
                                    <small>二级菜单</small>
                                    <span class=" pull-right">
                                        <i class="iconfont icon-menu-left-small"></i>
                                    </span>
                                </a>
                                <ul class="treeview-menu">
                                    <li class="treeview">
                                        <a href="#">
                                            <i class="iconfont icon-circle-hollow"></i>
                                            <small>三级菜单</small>
                                            <span class=" pull-right">
                                                <i class="iconfont icon-menu-left-small"></i>
                                            </span>
                                        </a>
                                        <ul class="treeview-menu">
                                            <li>
                                                <a href="#">
                                                    <i class="iconfont icon-circle-hollow"></i>
                                                    <small>四级菜单</small>
                                                </a>
                                            </li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="iconfont icon-circle-hollow"></i>
                                    <small>二级菜单</small>
                                </a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </section>
        </aside>
        <div class="page-wrapper">
            @RenderBody()
        </div>
        <div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="myModalLabel">标题</h4>
                    </div>
                    <div class="modal-body">
                        <p>大屏弹窗</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                        <button type="button" class="btn btn-primary">提交</button>
                    </div>
                </div>
            </div>
        </div>
        <!-- Small modal -->
        <div class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
            <div class="modal-dialog modal-sm" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="myModalLabel">标题</h4>
                    </div>
                    <div class="modal-body">
                        <p>小屏弹窗</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                        <button type="button" class="btn btn-primary">提交</button>
                    </div>
                </div>
            </div>
        </div>
        <!-- 修改密码模态框 -->
        <div class="modal fade menu-setpassword" tabindex="-1" role="dialog">
            <div class="modal-dialog modal-sm" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        <h4 class="modal-title">修改密码</h4>
                    </div>
                    <div class="modal-body">
                        <table class="table">
                            <tbody>
                                <tr>
                                    <th>
                                        旧密码
                                    </th>
                                    <td>
                                        <input type="text" class="form-control" placeholder="请输入旧密码" name="js-oldPassword">
                                    </td>
                                </tr>
                                <tr>
                                    <th>
                                        新密码
                                    </th>
                                    <td>
                                        <input type="text" class="form-control" placeholder="请输入新密码" name="js-newPassword">
                                    </td>
                                </tr>
                                <tr>
                                    <th>
                                        确认密码
                                    </th>
                                    <td>
                                        <input type="text" class="form-control" placeholder="请再次输入新密码" name="js-verifyPassword">
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                        <button type="button" class="btn btn-primary">保存</button>
                    </div>
                </div>
            </div>
        </div>
        <!-- 退出提示模态框 -->
        <div class="modal fade menu-logout" tabindex="-1" role="dialog">
            <div class="modal-dialog modal-sm" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        <h4 class="modal-title">提示</h4>
                    </div>
                    <div class="modal-body">
                        <p>是否确定退出</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                        <button type="button" class="btn btn-primary">登出</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript" src="../../Scripts/js/jquery-2.1.0.min.js"></script>
    <script type="text/javascript" src="../../Scripts/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="../../Scripts/libs/datatablejs/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="../../Scripts/libs/datatablejs/dataTables.bootstrap.min.js"></script>
    <script type="text/javascript" src="../../Scripts/js/alpha.js"></script>
    @RenderSection("scripts", required: false)
</body>
</html>
