
@{
    Layout = null;
}

<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>ImmortalBird</title>
    <link rel="stylesheet" type="text/css" href="../../Content/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="../../Content/libs/icheck/skins/all.css">
    <link rel="stylesheet" type="text/css" href="../../Content/css/iconfont.css">
    <link rel="stylesheet" type="text/css" href="../../Content/css/style.css">
</head>

<body class="login-page">
    <div class="login-wrapper">
        <div class="header skew">
        </div>
        <div class="login-logo">
            <a href="javascript:void(0)">
                <strong>ImmortalBird</strong>
            </a>
        </div>
        <div class="login-body">
            <p class="text-primary text-center">welcome</p>
            <div class="form">
                <div class="form-group">
                    <div class="input-group">
                        <span class="input-group-addon">
                            <i class="iconfont icon-login-user"></i>
                        </span>
                        <input type="text" id="UserName" name="UserName" class="form-control" placeholder="输入账号" />
                    </div>
                </div>
                <div class="form-group">
                    <div class="input-group">
                        <span class="input-group-addon">
                            <i class="iconfont icon-lock"></i>
                        </span>
                        <input type="password" id="pwd" name="Password" class="form-control" placeholder="输入密码" />
                    </div>
                </div>
                <div class="form-group">
                    <div class="row">
                        <div class="col-xs-7">
                            <span>
                                @*<input type="checkbox" class="minimal">
                                    记住密码*@
                            </span>
                        </div>
                        <div class="col-xs-5">
                            <span class="pull-right">
                                <a href="#">忘记密码?</a>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label>
                        <button type="button" class="btn btn-primary" onclick="verify()">登录</button>
                    </label>
                </div>
                @*<div class="social-auth text-center">
                        <p>第三方登录</p>
                        <a href="#">
                            <i class="iconfont icon-qq"></i>
                        </a>
                        <a href="#">
                            <i class="iconfont icon-wechat"></i>
                        </a>
                        <a href="#">
                            <i class="iconfont icon-sina"></i>
                        </a>
                    </div>*@
                <p class="text-center">
                    <a href="/register/register">没有账号? 前往注册账号</a>
                </p>
            </div>
        </div>
    </div>

    <script type="text/javascript" src="../../Scripts/js/jquery-2.1.0.min.js"></script>
    <script type="text/javascript" src="../../Scripts/js/jquery-ui.min.js"></script>
    <script type="text/javascript" src="../../Scripts/js/bootstrap.min.js"></script>
    <!-- icheck.js -->
    <script type="text/javascript" src="../../Scripts/libs/icheck/icheck.min.js"></script>
    <script type="text/javascript" src="../../Scripts/js/alpha.js"></script>
    <script type="text/javascript">
        $('input[type="checkbox"].minimal, input[type="radio"].minimal').iCheck({
            checkboxClass: 'icheckbox_minimal-blue',
            radioClass: 'iradio_minimal-blue'
        })
    </script>

    <script>
        function verify() {
            var UserName = $("#UserName").val();
            var pwd = $("#pwd").val();

            if (check(UserName, pwd)) {
                $.post('/Login/Login', { 'UserName': UserName, 'Password': pwd }, function (result) {
                    if (result.Code == 0) {
                        alert(result.Message);
                    }
                    else if (result.Code == 1) {
                        alert("132");
                        window.location.href = '/DashBoard/Index';
                    }
                });
            }

        }

        function check(UserName, pwd) {
            if (UserName.length != 0) {
                return true;
            }
            else {
                alert("请输入账号");
                return false;
            }
            if (pwd.length != 0) {
                return true;
            }
            else {
                alert("请输入密码");
                return false;
            }

        }
    </script>
</body>

</html>